body {
  margin: 0;
  
}

body{
  display: flex;
  flex-direction: column;
}
/*
background-color: #040714;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/
